.card{
    margin-left: 10%;
    margin-right: 10%;
}

label.formLabel{
    font-size:15px;
    font-weight: 400;
}

#formInput{
    size:10px;
}

.radioButt{
    padding: 5px;
}

div.page{
    background-image: url(/./assets/changing_pastel.gif);
}